body{
    font-family: 'Island Moments', cursive;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
h2{
    font-size: 40px;
}
p{
    font-size: 30px;
}
section{
    display:flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    
}